:root {
--color-primary: #212121;
--color-logo-accent: #2196F3;
--color-logo: #000000;
--color-background-1: #FFFFFF;
--color-background-2: #2F303A;
--color-background-3: #F5F5F5;
--color-background-4: #F5F4FA;
--color-text: #757575;
--color-border-links: #AFB1B8;
--color-dark-blue: #188CE8;
}

/*INDEX.HTML*/

html {
box-sizing: border-box;
}
*,
*::before,
*::after {
box-sizing: inherit;
}

body {
letter-spacing: 0.03em;
font-family: 'Roboto' , 'sans-serif';
color: var(--color-primary);
background-color: var(--color-background-1);
}

.container {
max-width: 1200px;
margin: 0 auto;
padding: 0 15px;
}

img {
display: block;
max-width: 100%;
height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
padding: 0;
margin: 0;
}

section {
padding:94px 0;
}

ul {
list-style: none;
}

/* HEADER */

.page-header {
border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.main-nav,.general-nav {
display: flex;
position: relative;
}

.logo {
padding-top: 24px;
padding-bottom: 25px;
margin-right: 93px;
font-family: 'Raleway','sans-serif';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color:var(--color-logo);
text-decoration: none;
}

.logo-accent {
font-family: 'Raleway','sans-serif';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
text-decoration: none;
color: var(--color-logo-accent);
}

.site-nav {
display: flex;
align-items: center;
}

.site-nav .item {
margin-right: 50px;
}

.site-nav .item {
margin-right: 50px;
}

.site-nav .item:last-child {
margin-right: 50px;
}

.contacts {
display: flex;
padding-right: 0;
padding-left: 0;
margin-left: auto;
align-items: center;
}

.contacts .item + .item {
margin-left: 50px;
}

.contact-icon {
margin-right: 10px;
fill: currentColor;
}

.header-contacts-link.link {
display: flex;
color: var(--color-text);
padding-top: 32px;
padding-bottom: 32px;
align-items: center;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
}

.header-link-underline {
position: relative;
color: var(--color-logo-accent);
padding-bottom: 32px;
}

.header-link-underline::after {
content: "";
display: block;
position: absolute;
left: 0;
bottom: 0;
width: 100%;
height: 4px;
background-color: var(--color-logo-accent);
border-radius: 2px;
}

.link.header-link-underline {
color: var(--color-logo-accent);
}


/* HERO TITLE */

.hero-title {
background-color: var(--color-background-2);
padding-bottom: 200px;
padding-top: 200px;
text-align: center;
}

.hero-background {
max-width: 1600px;
height: 600px;
margin-left: auto;
margin-right: auto;
background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
rgba(47, 48, 58, 0.4)),
url(../images/hero-background-image\ \(1\).jpg);
}

.title-decisions {
color: var(--color-background-1);
font-weight: 900;
font-size: 44px;
line-height: 1.363;
letter-spacing: 0.06em;
width: 696px;
height: 120px;
text-transform: uppercase;
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;
}

.button-order {
background-color: var(--color-logo-accent);
color: var(--color-background-1);
font-weight: 700;
font-size: 16px;
line-height: 1.875;
width: 216px;
height: 50px;
border-radius: 4px;
letter-spacing: 0.06em;
cursor: pointer;
border: none;
}

.button-order:hover {
background-color: var(--color-dark-blue);
}
/* MODAL */

.backdrop {
z-index: 999;
padding: 94px 15px 94px 15px;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.2);
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
opacity: 1;
transition-property: opacity;
transition-duration: 250ms;
}

.backdrop.is-hidden {
opacity: 0;
pointer-events: none;
}

.modal {
position: absolute;
top: 50%;
left: 50%;
padding: 40px;
text-align: center; 
transform: translate(-50%, -50%) scale(1);
width: 528px;
height: 581px;
background: var(--color-background-1);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
}

.modal-title {
font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-primary);
margin-bottom: 12px;
}

.form-input {
margin-bottom: 10px;
width: 100%;
height: 58px;
}

.form-input-lable {
position: relative;
display: block;
text-align: start;
margin-left: auto;
margin-right: auto;
width: 448px;
font-size: 12px;
line-height: 1.166;
letter-spacing: 0.01em;
color: var(--color-text);
}

.form-input-lable-area:focus {
border-color: var(--color-logo-accent);
}

.form-input-lable-area:focus + .form-input-lable-svg {
fill: var(--color-logo-accent);
}

.form-input-lable-area {
width: 100%;
height: 40px;
border: 1px solid rgba(33,33,33,0.2);
border-radius: 4px;
padding: 11px 0 11px 42px;
margin-top: 4px;
outline: none;
transition-property: border-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-text {
width: 100%;
height: 138px;
margin-bottom: 20px;
}

.form-text-input {
width: 100%;
height: 120px;
border: 1px solid rgba(33,33,33,0.2);
border-radius: 4px;
padding: 12px 16px;
margin-top: 4px;
outline: none;
resize: none;
}

.form-input-lable-svg {
position: absolute;
top: 72%;
left: 4%;
transform: translateY(-72%);
fill: var(--color-primary);
transition-property: fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-check {
appearance: none;
}

.form-checkbox-lable {
display: flex;
align-items: center;
justify-content: center;
}

.accept-icon-svg {
display: flex;
margin-right: 7px;
border: 2px solid var(--color-primary);
border-radius: 3px;
top: 50%;
transition-property: border-color background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
fill: var(--color-background-1);
}

.checkbox-check:checked + .accept-icon-svg {
border-color: var(--color-logo-accent);
background-color: var(--color-logo-accent);
}

.accept-text {
display: block;
padding-right: 5px;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--color-text);
}

.form-checkbox-link {
align-items: center;
font-weight: 400;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color: var(--color-logo-accent);
}

.send-btn {
width: 200px;
height: 50px;
background-color: var(--color-logo-accent);
color: var(--color-background-1);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
margin-top: 30px;
font-weight: 700;
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.06em;
align-items: center;
text-align: center;
cursor: pointer;
border: none;
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:hover {
background-color: var(--color-dark-blue);
}

.close-button {
position: absolute;
top: 8px;
right: 8px;
width: 30px;
height: 30px;
padding: 5px 4px 6px 4px;
border: 1px solid rgba(0,0,0,0.1);
background-color: var(--color-background-1);
border-radius: 50%;
cursor: pointer;
transition-property: fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button-icon {
transition-property: fill;
transition-duration: 250ms;
transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
fill: var(--color-logo);
}

.close-button:hover .close-button-icon,
.close-button:focus .close-button-icon {
fill: var(--color-logo-accent);
}

/* BENEFITS SECTION */

.benefits-title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
color: var(--color-primary);
margin-bottom: 10px;
}

.benefits-text {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
color: var(--color-text);
}

.benefits-list {
display: flex;
}

.benefits-item {
width: 270px;
margin-right: 30px;
}

.benefits-item:last-child {
margin-right: 0;
}

/* ACTIVITIES SECTION */

.services {
padding-top: 0px;
}

.our-activities-title {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
color: var(--color-primary);
text-align: center;
margin-bottom: 50px;
}

.activities-icons {
display: flex;
height: 120px;
border-radius: 4px;
margin-bottom: 30px;
background-color: var(--color-background-4);
justify-content: center;
align-items: center;
}

.activities-list {
display:flex;
}

.activities-item {
display: block;
position: relative;
width: 370px;
margin-right: 30px;
position: relative;
}

.activities-item:last-child {
margin-right: 0;
}

.activities-sub-title-text {
display: flex;
align-items: center;
justify-content: center;
font-weight: 700;
font-size: 14px;
line-height: 1.142;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--color-background-1);
width: 100%;
height: 70px;
left: 0;
bottom: 0;
position: absolute;
background-color: rgba(47, 48, 58, 0.8);
}

/* OUR TEAM SECTION */

.our-team {
background-color: var(--color-background-4);
}

.our-team-title {
font-family: 'Roboto','sans-serif';
font-weight: 700;
font-size: 36px;
line-height: 1.17;
color: var(--color-primary);
text-align: center;
margin-bottom: 50px; 
}

.team-cards-list {
display: flex;
}

.team-cards {
background-color: var(--color-background-1);
width: 270px;
margin-right: 30px;
text-align: center;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.team-cards:last-child {
margin-right: 0;
}

.team-cards-text {
font-weight: 500;
font-size: 16px;
line-height: 1.17;
color: var(--color-primary);
margin-bottom: 10px;
}

.team-cards-description {
font-weight: 400;
font-size: 16px;
line-height: 1.17;
color: var(--color-text);
margin-bottom: 16px;
}

.team-card-container {
padding-top: 30px;
padding-bottom: 30px;
}

.team-soc-list {
display: flex;
justify-content: center;
}

.team-soc-links {
display: flex;
width: 44px;
height: 44px;
border: 0;
border-radius: 50%;
justify-content: center;
align-items: center;
color: var(--color-border-links);
transition-property: color, background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-items {
margin-right: 10px;
}

.team-soc-items:last-child {
margin-right: 0;
}

.team-soc-links:hover,
.team-soc-links:focus {
color: var(--color-background-1);
background-color: var(--color-logo-accent);
}

.team-soc-icon {
fill: currentColor;
}

/* CLIENTS SECTION */

.clients-title {
font-weight: 700;
font-size: 36px;
line-height: 1.171;
text-align: center;
margin-bottom: 50px;
}

.clients-list {
display: flex;
}

.clients-item {
margin-right: 30px;
border-radius: 4px;
}

.clients-item:last-child {
margin-right: 0;
}

.clients-link {
display: flex;
width: 170px;
height: 92px;
border-radius: 4px;
border: 1px solid var(--color-border-links);
align-items: center;
justify-content: center;
color: var(--color-border-links);
transition-property: color, border-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
color: var(--color-logo-accent);
border-color: var(--color-logo-accent);
}

.clients-icon {
fill: currentColor;
}

/* FOOTER */

.footer-of-page {
background-color: var(--color-background-2);
padding-top: 60px;
padding-bottom: 60px;
}

.logo-studio {
color: var(--color-background-1);
}

.logo-footer {
display: block;
font-family: 'Raleway','sans-serif';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color:var(--color-logo);
text-decoration: none;
margin-bottom: 20px;
}

.link {
text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.17;
color: var(--color-primary);
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
color: var(--color-logo-accent);
}

.link-adress {
color: var(--color-background-1);
line-height: 1.71;
letter-spacing: 0.03em;
}

.footer-contacts {
display: block;
}

.footer-contacts-item:last-child {
margin-bottom: 0;
}

.footer-link-current {
color: var(--color-text);
display: block;
line-height: 1.71;
margin-top: 9px;
}

.footer-container {
display: flex;
align-items: baseline;
}

.footer-join-container {
align-items: baseline;
margin-left: 70px;
margin-right: 93px;
}

.join {
font-weight: 700;
font-size: 14px;
line-height: 1.142;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--color-background-1);
margin-bottom: 20px;
}

.footer-soc-links {
display: flex;
align-items: center;
}

.footer-soc-links-item {
margin-right: 10px;
}

.footer-soc-links-item:last-child {
margin-right: 0;
}

.soc-links {
display: flex;
width: 44px;
height: 44px;
border: 0;
border-radius: 50%;
justify-content: center;
align-items: center;
color: var(--color-background-1);
background-color: rgba(255, 255, 255, 0.1);
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-links:hover {
background-color: var(--color-logo-accent);
}

.soc-icon {
fill: currentColor;
}

.follow-us-form {
display: flex;
}

.follow-us-title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--color-background-1);
margin-bottom: 20px;
}

.follow-us-form-field {
width: 358px;
height: 50px;
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
background-color: var(--color-background-2);
margin-right: 12px;
padding-left: 16px;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
outline: none;
}

.follow-us-btn {
display: flex;
width: 200px;
height: 50px;
font-weight: 700;
font-size: 16px;
line-height: 1.875;
color: var(--color-background-1);
background-color: var(--color-logo-accent);
box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
border-radius: 4px;
cursor: pointer;
justify-content: center;
align-items: center;
border: none;
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.follow-us-btn-text {
margin-right: 10px;
}

.follow-us-btn-svg {
justify-content: center;
align-items: center;
fill: var(--color-background-1);
}

/* PORTFOLIO.HTML */

.filter {
display: flex;
margin-bottom: 50px;
gap: 8px;
justify-content: center;
}

.buttons-portfolio-categories {
cursor: pointer;
background-color: var(--color-background-4);
color: var(--color-primary);
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.625;
border-radius: 4px;
letter-spacing: 0.03em;
border: none;
display: inline-block;
padding: 6px 22px;
transition-property: background-color, color, box-shadow;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-portfolio-categories:hover,
.buttons-portfolio-categories:focus {
background-color: var(--color-logo-accent);
color: var(--color-background-1);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* CARDS OF PROJECTS */

.card {
display: block;
text-decoration: none;
}

.card-image {
position: relative;
overflow: hidden;
}

.card:hover,
.card:focus {
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card:hover .card-overlay {
transform: translateY(0);
}

.card-overlay {
position: absolute;
background-color: rgba(33,150,243,0.9);
top: 0;
left: 0;
width: 100%;
height: 100%;
transition-property: transform;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transform: translateY(101%);
}

.card-overlay-text {
font-weight: 400;
font-size: 18px;
line-height: 1.5;
letter-spacing: 0.03em;
color: var(--color-background-1);
padding: 63px 24px 63px 24px;
}

.names-of-projects {
font-weight: 700;
font-size: 18px;
line-height: 2;
color: var(--color-primary);
letter-spacing: 0.06em;
margin-bottom: 4px;
}

.description-of-project {
padding-left: 24px;
padding-top: 20px;
padding-bottom: 20px;
padding-right: 24px;
border-bottom: 1px solid var(--color-background-1);
border-left: 1px solid var(--color-background-1);
border-right: 1px solid var(--color-background-1);
}

.type-of-project {
font-weight: 400;
font-size: 16px;
line-height: 1.875;
color: var(--color-text);
}

.portfolio-list {
display: flex;
flex-wrap: wrap;
padding: 0;
gap: 30px;
}



