:root {
--color-primary: #212121;
--color-logo-accent: #2196F3;
--color-logo: #000000;
--color-background-1: #FFFFFF;
--color-background-2: #2F303A;
--color-background-3: #F5F5F5;
--color-background-4: #F5F4FA;
--color-text: #757575;
--color-border-links: #AFB1B8;
--color-dark-blue: #188CE8;
--border-color: #EEEEEE;
$text-font-stack: "Roboto", sans-serif;
$logo-font-stack: "Raleway", sans-serif;
}